################################################################################
# This .gitignore
################################################################################

/recorder/.vscode
/recorder/node_modules
/recorder/package-lock.json

/differ/.vscode
/differ/node_modules
/differ/package-lock.json

/runner/.vscode
/runner/node_modules
/runner/data
/runner/screens
/runner/result.json
/runner/result.trx
/runner/dest/data
/runner/dest/screens
/runner/dest/result.json
/runner/dest/result.trx
/runner/package-lock.json
